@font-face {
    font-family: 'orandaregular';
    src: url('unicode.oranda-webfont.woff2') format('woff2'),
         url('unicode.oranda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}